/* Estilos Globais */
body.dark-theme {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.neon-header {
    background-color: #0d0d0d;
    padding: 20px 20px 20px 240px; /* padding-left: 240px (200px do logo + 40px de margem) */
    border-bottom: 2px solid #00ffcc;
    position: relative; /* Permite posicionar o logo corretamente */
}

/* Estilo para o h1 */
h1.neon-text {
    color: #00ffcc; /* Cor neon */
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc; /* Efeito neon */
    opacity: 1; /* Garante que não está transparente */
    text-align: left;
}

/* Estilo para o h2 com efeito neon e interior preto */
h2.neon-text {
    color: #00ffcc; /* Cor neon */
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc; /* Efeito neon */
    -webkit-text-fill-color: black; /* Torna o interior do texto transparente */
    -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto */
    background-clip: text; /* Propriedade padrão para compatibilidade */
    background-image: linear-gradient(to bottom, #000, #000); /* Interior preto */
    text-align: left;
}

.neon-text {
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
}

.neon-navbar {
    background-color: #0d0d0d;
    border-bottom: 2px solid #00ffcc;
}

.neon-navbar .navbar-brand,
.neon-navbar .nav-link {
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
    align-items: center; /* Centraliza os itens verticalmente */
}

.neon-navbar .nav-link:hover {
    color: #00cc99;
    text-shadow: 0 0 5px #00cc99, 0 0 10px #00cc99;
}

.neon-navbar .navbar-toggler {
    border-color: #00ffcc;
    justify-content: center;
}

.neon-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.neon-card {
    background-color: #262626;
    border: 1px solid #00ffcc;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffcc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 70%; /* Ajusta a largura máxima dos cards */
    margin: 0 auto 20px auto; /* Centraliza os cards e ajusta a margem inferior */
}

.neon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ffcc;
}

.neon-input {
    background-color: #333;
    border: 1px solid #00ffcc;
    color: #00ffcc;
}

.neon-input:focus {
    background-color: #444;
    border-color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}

.btn-neon {
    background-color: #00ffcc;
    color: #1a1a1a;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-neon:hover {
    background-color: #00cc99;
}

.logo-link {
    position: absolute; /* Posiciona o logo no canto esquerdo */
    left: 20px; /* Distância da esquerda */
    top: 20px; /* Distância do topo */
}

.logo-img {
    width: 200px; /* Largura pequena para o logo */
    height: 100px; /* Altura proporcional para manter o formato retangular */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    border-radius: 4px; /* Bordas levemente arredondadas (opcional) */
}

/* Estilos da Sidebar */
.sidebar {
    position: fixed;
    top: 40%; /* Posição inicial (abaixo da navbar) */
    left: 0;
    width: 15%; /* Largura da sidebar */
    height: calc(100vh - 190px); /* Altura restante da página */
    background-color: #0d0d0d; /* Fundo preto */
    padding: 10px;
    overflow-y: auto;
    z-index: 1000; /* Garante que a sidebar fique acima de outros elementos */
    transition: top 0.3s ease, left 0.3s ease; /* Transição suave */
}

/* Quando a sidebar está fixa no topo */
.sidebar.fixed {
    top: 0;
}

.sidebar h2 {
    font-size: 1.5em;
    color: #00ffcc;
    text-align: center;
}

.sidebar .search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar .search-bar input {
    width: 100px; /* Largura ajustada para caber na sidebar */
    padding: 5px;
    border: 1px solid #00ffcc;
    border-radius: 4px;
    background-color: #0d0d0d; /* Fundo preto */
    color: #00ffcc; /* Cor do texto contrastante */
    text-align: left;
}

.sidebar .date-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sidebar .date-list li {
    margin-bottom: 10px;
}

.sidebar .date-list li a {
    text-decoration: none;
    color: #00ffcc;
    font-size: 1.2em;
}

.sidebar .date-list li a:hover {
    text-decoration: none;
    color: #65f5d8;
}

.main-content {
    margin-left: 120px; /* Ajustado para a largura da sidebar */
    padding: 20px;
    padding-bottom: 100px; /* Adiciona um espaço extra no final do conteúdo */
    margin-bottom: 80px; /* Ajuste o valor conforme necessário */
}

/* Estilos para o Footer */
.neon-footer {
    background-color: #0d0d0d;
    border-top: 2px solid #00ffcc;
    padding: 10px;
    position: relative; /* Altera para relative */
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    text-align: center; /* Centraliza o conteúdo */
    z-index: 1000; /* Garante que o footer fique acima de outros elementos */
    clear: both; /* Garante que o footer seja posicionado após o conteúdo */
    margin-top: 20px; /* Adiciona espaço entre o conteúdo e o footer */
}

/* Estilo do botão de voltar ao topo */
.scroll-to-top-btn {
    display: none; /* Esconde o botão inicialmente */
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 50%; /* Formato circular */
    background-color: #00ffcc; /* Cor de fundo neon */
    color: #0d0d0d; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
    cursor: pointer; /* Cursor de ponteiro */
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc; /* Efeito neon */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.scroll-to-top-btn:hover {
    background-color: #00cc99; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente o botão */
    box-shadow: 0 0 15px #00cc99, 0 0 30px #00cc99; /* Efeito neon ao passar o mouse */
}

/* Estilo da seta */
.arrow-up {
    display: block;
    text-align: center;
    line-height: 50px; /* Centraliza verticalmente */
}

.footer-content {
    display: flex; /* Coloca os elementos em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaçamento entre os elementos */
    color: #E1306C; /* Cor do Instagram */
    font-size: 12x; /* Tamanho do ícone */
    margin-left: 10px; /* Espaçamento à esquerda */
    text-decoration: none; /* Remove o sublinhado do link */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

.gif-container {
    display: inline-block; /* Mantém o GIF na mesma linha */
}

.neon-text {
    margin: 0; /* Remove margens padrão do parágrafo */
}

.fab.fa-instagram {
    font-size:34px; /* Tamanho do ícone do Instagram */
    color: #E1306C; /* Cor do Instagram */
}

.fab.fa-instagram:hover {
    color: #ffffff; /* Cor ao passar o mouse */
}


.neon-footer a:hover {
    color: #ffffff; /* Cor ao passar o mouse */
}

/* Esconder o menu em telas pequenas */
@media (max-width: 768px) {
    h1 {
        text-align: center !important;
    }

    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.show {
        display: block;
    }

    /* Ajustes para o menu hambúrguer */
    .navbar-toggler {
        position: fixed; /* Fixa o botão no topo */
        top: 20px; /* Distância do topo */
        right: 20px; /* Distância da direita */
        z-index: 1100; /* Garante que fique acima da sidebar e outros elementos */
        background-color: #0d0d0d; /* Mesma cor da navbar */
        border: 1px solid #00ffcc; /* Borda neon */
        border-radius: 4px; /* Bordas levemente arredondadas */
        padding: 8px 12px; /* Espaçamento interno */
    }

    .navbar-toggler-icon {
        filter: drop-shadow(0 0 2px #00ffcc); /* Efeito neon no ícone */
    }

    .sidebar {
        width: 45%;
        height: auto;
        position: fixed;
        top: 50%;
        left: -100%; /* Esconde a sidebar */
        transition: left 0.3s ease;
        background-color: #0d0d0d00; /* Mesma cor da navbar */
        z-index: 1000; /* Garante que fique acima do conteúdo */
        border: 2px solid #00ffcc; /* Borda verde neon */
        border-radius: 10px; /* Cantos arredondados */
    }
    

    .sidebar.open {
        left: 0; /* Mostra a sidebar */
    }

    /* Altera o texto da sidebar para o título da página */
    .sidebar {
        font-size: 1.5em;
        color: #00ffcc;
        text-shadow: 1px 1px 2px black; /* Sombra preta no texto */
        text-align: center;
        margin-top: 20px;
    }

    .sidebar .date-list {
        list-style-type: none;
        padding: 0;
        text-align: center;
        text-shadow: 1px 1px 2px black; /* Sombra preta no texto */

    }

    .sidebar .date-list li {
        margin-bottom: 10px;
    }

    .sidebar .date-list li a {
        text-decoration: none;
        color: #00ffcc;
        font-size: 1.2em;
        text-shadow: 1px 1px 2px black; /* Sombra preta no texto */
    }

    .sidebar .date-list li a:hover {
        color: #65f5d8;
        text-shadow: 0 0 5px #65f5d8, 0 0 10px #65f5d8;
    }

    /* Ajustes para o header em telas pequenas */
    .neon-header {
        padding-left: 20px; /* Reduz o padding para telas pequenas */
    }

    .logo-link {
        position: static; /* Remove o posicionamento absoluto */
        text-align: center; /* Centraliza o logo */
    }

    /* Ajustes para o conteúdo principal */
    .main-content {
        margin-left: 0; /* Remove a margem da sidebar */
        padding-bottom: 60px; /* Espaço para o footer */
        margin-bottom: 80px; /* Ajuste o valor conforme necessário */
    }

    .neon-card {
        max-width: 97%; /* Ajusta a largura dos cards */
        margin-bottom: 80px; /* Ajuste o valor conforme necessário */
    }
}

/* Ajustes específicos para dispositivos com largura de 340px */
@media (max-width: 340px) {
    h1 {
        text-align: center !important;
    }

    .navbar-toggler {
        right: 10px; /* Ajuste da posição do botão */
    }

    .sidebar {
        top: 0; /* Ajuste da altura da sidebar */
    }

    .sidebar h2 {
        font-size: 1.2em; /* Reduz o tamanho do título */
    }

    .sidebar .date-list li a {
        font-size: 1em; /* Reduz o tamanho dos links */
    }

    /* Ajustes para o header em telas pequenas */
    .neon-header {
        padding-left: 10px; /* Reduz o padding para telas pequenas */
    }

    .main-content {
        padding: 10px; /* Reduz o padding do conteúdo */
        margin-bottom: 80px; /* Ajuste o valor conforme necessário */
        padding-block: 10px;
    }
}
